<ion-view title="Calculator" id="page1" class=" ">
    <ion-content padding="false" class="has-header">
        <form id="calculator-form2" class="list ">
            <label class="item item-input " id="calculator-input2" name="display">
                <span class="input-label">Input</span>
                <input type="text" placeholder="0">
            </label>
            <div id="calculator-button-bar1" class=" button-bar ">
                <button id="calculator-button1" class=" button button-stable  button-block ">7</button>
                <button id="calculator-button2" class=" button button-stable  button-block ">8</button>
                <button id="calculator-button3" class=" button button-stable  button-block ">9</button>
                <button id="calculator-button4" class=" button button-energized  button-block ">/</button>
            </div>
            <div id="calculator-button-bar2" class=" button-bar ">
                <button id="calculator-button5" class=" button button-stable  button-block ">4</button>
                <button id="calculator-button6" class=" button button-stable  button-block ">5</button>
                <button id="calculator-button7" class=" button button-stable  button-block ">6</button>
                <button id="calculator-button8" class=" button button-energized  button-block ">x</button>
            </div>
            <div id="calculator-button-bar3" class=" button-bar ">
                <button id="calculator-button9" class=" button button-stable  button-block ">1</button>
                <button id="calculator-button10" class=" button button-stable  button-block ">2</button>
                <button id="calculator-button11" class=" button button-stable  button-block ">3</button>
                <button id="calculator-button13" class=" button button-energized  button-block ">-</button>
            </div>
            <div id="calculator-button-bar4" class=" button-bar ">
                <button id="calculator-button14" class=" button button-assertive  button-block ">C</button>
                <button id="calculator-button15" class=" button button-stable  button-block ">0</button>
                <button id="calculator-button16" class=" button button-positive  button-block ">=</button>
                <button id="calculator-button17" class=" button button-energized  button-block ">+</button>
            </div>
        </form>
    </ion-content>
</ion-view>